<html>
  <head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="index.html" class="brand-logo">HFAP</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

          <ul class="right hide-on-med-and-down">
            <li>
              <form>
                <div class="input-field">
                  <input id="search" type="search" required />
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </li>
            <li><a href="/d_patientList">Patient list</a></li>
            <li><a href="/p_appointment">Appointments</a></li>
            <li><a href="/video_calling">Call doctor</a></li>
            <li><a href="/">Sign out</a></li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li><a href="/d_patientList">Patient list</a></li>
        <li><a href="/p_appointment">Appointments</a></li>
        <li><a href="/video_calling">Call doctor</a></li>
        <li><a href="/">Sign out</a></li>
      </ul>
    </header>

    <main>
      <div class="container">
        <div class="center-align">
          <h4>Your appointment list</h4>
        </div>
        <br /><br />
        <div class="row">
          <div class="col s12 center">
            <ul class="tabs">
              <li class="tab"><a class="active" href="#upcoming">Upcoming</a></li>
              <li class="tab"><a href="#completed">Completed</a></li>
            </ul>
          </div>
          <div id="upcoming">
            <div class="col s12 m6 l6">
              <div class="card card-rounded auth-card">
                <div class="card-content white-text">
                  <div class="row">
                    <div class="col s7">
                      <span class="card-title">Salma Khatun</span>
                      <p>MBBS (NMC), FRCS (UK)</p>
                      <p>Senior Consultant</p>
                      <p>Medicine Specialist</p>
                    </div>
                    <div class="col s5">
                      <h6>Time</h6>
                      <p>23 Sep, 2020 - 10:30 AM</p>
                    </div>
                  </div>
                </div>
                <div class="card-action center">
                  <a href="#" class="red-text text-darken-1 btn-flat btn-rounded">Cancel appointment</a>
                </div>
              </div>
            </div>
          </div>

          <div id="completed">
            <div class="col s12 m6 l6">
              <div class="card card-rounded auth-card">
                <div class="card-content white-text">
                  <div class="row">
                    <div class="col s7">
                      <span class="card-title">Najia Begum</span>
                      <p>MBBS (NMC), FRCS (UK)</p>
                      <p>Senior Consultant</p>
                      <p>Child and health specialist</p>
                    </div>
                    <div class="col s5">
                      <h6>Time</h6>
                      <p>23 Sep, 2020 - 10:30 AM</p>
                    </div>
                  </div>
                </div>
                <div class="card-action">
                  <a
                    href="#prescription_modal"
                    class="blue-text text-darken-4 btn-flat btn-rounded prescription modal-trigger"
                    >Prescription</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer></footer>

    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
